body{
    background-color: forestgreen;
}
#content{
max-width: 888px;
    width: auto;
    margin: 0 auto;
    background-color: azure;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
}

/*
----------------Képek-----------------
*/
#imageright{
	float: right;
    max-width: 200px;
    width: auto;
    margin-left: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imageright img{
    max-width: 200px;
    width: auto;
}

#imageright2 img{
    max-width: 200px;
    width: auto;
}


#imageleft{
    float: left;
	max-width: 300px;
    width: auto;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 1px solid forestgreen;
    padding: 10px;
    border-radius: 20px;
}
#imageleft img{   
	max-width: 300px;
    width: auto;
}

#imageleft2 img{   
	max-width: 300px;
    width: auto;
}


#imageright2{
    display: none;
}

#imageleft2{
    display:none ;
}



/*
----------------Szöveg-----------------
*/

.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}
a{
    text-decoration: none;
    color: blue;
}
a:hover{
    color: red;
}
h1,h2{
    text-transform: uppercase;
    color: forestgreen;
}
p,li{
    text-align: justify;
}

/*
----------------Media-----------------
*/

@media screen and (max-width: 600px){
    
    #imageright{
     display: none;
        
    }

    #imageright2{
        display: block;
        float: none;
        max-width: 200px;
        margin-left: 20px;
        border: 1px solid forestgreen;
        padding: 10px;
        border-radius: 20px;
        margin: 0 auto;
    }

    #imageleft{
        display: none;
        
    }

    #imageleft2{
        display: block;
	    max-width: 300px;
        width: auto;
        margin-right: 40px;
        margin-bottom: 20px;
        border: 1px solid forestgreen;
        padding: 10px;
        border-radius: 20px;
        margin: 0 auto;
    }
}